@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100,200&display=swap');
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);
@import url(https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css);

* {
  padding: 0px;
  margin: 0px;
}

$base-color: #295bff;

$white: mix(white, $base-color, 95%);
$black: mix(black, $base-color, 90%);
$gray: mix(#636363, $base-color, 80%);
$base-light-10: lighten($base-color, 10%);
$base-light-20: lighten($base-color, 20%);
$base-dark-30: darken($base-color, 30%);
$base-dark-20: darken($base-color, 20%);
$green-gradient: linear-gradient(
  315deg,
  hsla(164, 38%, 18%, 1) 0%,
  hsla(158, 77%, 77%, 1) 100%
);

html,
#root,
.body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  // overflow-x: hidden;
  background-color: $base-dark-30;
  color: $white;
  font-size: 20px;
  height: 100%;
}

#bg-L {
  z-index: -1;
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100%;
  // background: linear-gradient(95deg, rgb(255, 255, 255) 80%, rgb(167, 181, 255) 100%);
}

.navbar {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  top: 0;
  left: 0;
  font-size: 17px;
  height: 45px;
  margin-bottom: 10px;
  background-color: white;
  z-index: 5;
  #logo {
    height: 45px;
    align-self: auto;
    // border: 1px solid $black;
  }
  .links {
    .nav-link {
      margin: 7px 20px;
      padding: 6px;
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      color: $gray;
      text-align: center;
      text-decoration: none;
      z-index: 6;
      // overflow: hidden;
      &:before, &:after{
        content: '';
        position: absolute;
        display: block;
        box-sizing: border-box;
        border-radius: 3px;
        top: 0;
        left: 0;
      }
      &:after{
        width: 100%;
        height: 100%;
        background:  $base-color;
        mix-blend-mode: lighten;
        transition: all 0.3s ease;
        transform-origin: center;
        transform: scale(0);
      }
      &:hover:after{
        transform: scale(1);
      }
      transition: 0.5s;
      &:hover {
        color: #fff;
      } 
    }
  }
}

.login-modal-container {
  position: absolute;
  width: 300px;
  height: 375px;
  border: 3px solid $base-light-20;
  background-color: #1b2240;
  letter-spacing: 0.5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  #close-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    color: black;
    cursor: pointer;
  }
  #close-icon:hover{
    color: $base-color;
  }
  #input-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: red;
    .login-input {
      padding: 10px;
      margin: 5px;
    }
    button {
      padding: 5px;
      width: 150px;
      cursor: pointer;
      border-radius: 5px;
      background-color: $base-light-20;
      border-color: $base-light-20;
      border-radius: 5px;
      color: black;
      margin: 10px;
      font-size: medium;
      font-weight: 600;
    }
    button:hover {
      background-color: $base-color;
      border-color: $base-color;
      color: white;
    }
    a {
      text-decoration: none;
      color: white;
      margin: 10px;
      font-size: medium;
    }

    .login-error-message {
      color: red;
    }
  }
  #login-logo {
    width: 300px;
  }
}

#main-content {
  margin: 5px 0px;
  padding: 3px 0px;
  width: 100vw;
  height: 85%;
  display: grid;
  // align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'left-1 code-output'
    'left-2 code-output';

  .left-1 {
    grid-area: left-1;
    background-color: $white;
    color: $gray;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 6px 5px 2px 1px rgb(0, 0, 0);
    padding: 5px;
  }

  .left-2 {
    grid-area: left-2;
    background-color: $white;
    color: $gray;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    box-shadow: 6px 5px 2px 1px rgb(0, 0, 0);
    padding: 5px;
  }

  .codeOutput {
    box-shadow: 6px 5px 2px 1px rgb(0, 0, 0);
    border-radius: 20px;
    background-color: $white;
    width: 45vw;
    grid-area: code-output;
    padding: 5px;
    color: black;
  }
}

// Loading animation 
#animate-container {position: relative;
  svg {
    position: absolute;
  }
}

$params: 4s cubic-bezier(0.47, 0, 0.745, 0.715) both infinite;

.svg-elem-1{
  animation:animate-svg-stroke-1 $params, animate-svg-fill-1 $params;
}

.svg-elem-2 {
  animation: animate-svg-stroke-2 $params, animate-svg-fill-2 $params;
}

.svg-elem-3 {
  animation: animate-svg-stroke-3 $params, animate-svg-fill-2 $params;
}

@keyframes animate-svg-stroke-1{
  0%{stroke-dashoffset:356.781px;
    stroke-dasharray:356.781px;
    stroke-opacity:1}
  35%{stroke-dashoffset:713.562px;
    stroke-dasharray:356.781px}
  100%{stroke-dashoffset:713.562px;
    stroke-dasharray:356.781px;
    stroke-opacity:1}
  100%{stroke-dashoffset:713.562px;
    stroke-dasharray:356.781px;
    stroke-opacity:0}};

@keyframes animate-svg-fill-1{
  0%{fill:transparent}
  35%{fill:transparent}
  50%{fill:rgb(20,93,160)}
  90%{fill:rgb(20,93,160)}
  100%{fill:transparent}
}

@keyframes animate-svg-fill-2 {
  0% {fill: transparent}
  60% {fill: transparent}
  85% {fill: rgb(255, 255, 255)}
  90% {fill: rgb(255, 255, 255)}
  100% {fill: transparent}
}

@keyframes animate-svg-stroke-2 {
  $start: 106.036px;
  $end: 212.073px;

  0% {stroke-dashoffset: $start;
    stroke-dasharray: $start;
    stroke-opacity: 1}
  40% {stroke-dashoffset: $start;
    stroke-dasharray: $start}
  65% {stroke-dashoffset: $end;
    stroke-dasharray: $start}
  90% {stroke-dashoffset: $end;
    stroke-dasharray: $start;
    stroke-opacity: 1}
  100% {stroke-dashoffset: $end;
    stroke-dasharray: $start; 
    stroke-opacity: 0}
}

@keyframes animate-svg-stroke-3 {
  $start: 162.74px;
  $end: 325.49px;

  0% {stroke-dashoffset: $start;
    stroke-dasharray: $start;
    stroke-opacity:1}
  40% {stroke-dashoffset: $start;
    stroke-dasharray: $start}
  65% {stroke-dashoffset: $end;
    stroke-dasharray: $start}
  90% {stroke-dashoffset: $end;
    stroke-dasharray: $start;
    stroke-opacity:1}
  100% {stroke-dashoffset: $end;
    stroke-dasharray: $start;
    stroke-opacity:0}
}


#about {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-description {
    // box-shadow: 6px 5px 2px 1px rgb(0, 0, 0);
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    width: fit-content;
    color: $gray;
    font-size: 18px;
    margin: 30px;
    img {
      display: block;
      margin: auto;
    }
    section {
      margin: 0px 0px 50px 0px;
      display: flex;
      &:hover header::after {
        transform : scaleX(1);
        transform-origin: bottom left;
     }
     &:hover header {
      transform: scale(1.05);
     }
      header {
        position : relative;
        display : inline-block;
        font-size: xx-large;
        transition : transform 0.25s linear;
        &:after {
          content : "";
          position : absolute;
          width : 100%;
          height : 2px;
          background-color: rgb(0, 187, 255);
          bottom: 0;
          left: 0;
          transition : transform 0.25s linear;
          transform : scaleX(0);
          transform-origin: bottom right;
        }   
      }
      hr {
        width: 90%;
        border-top-width: 2px;
        margin: 3px 0px;
      }
      p {
        margin: 15px 0px;
      }
      img {
        width: 50vw;
      }
    }
  }
  header {
    font-size: 4vw;
  }
  hr {
    width: 95%;
    border-top-width: 2px;
    margin: 0px 0px 30px 0px;
  }
  .bro-container {
    width: 100%;
    display: flex; 
    justify-content: space-around;
    height: 160px;
    align-content: center; 
    
    .about-box {
      background-color: $white;
      height: 110px;
      padding: 5px;
      width: 18vw;
      min-width: 208px;
      max-width: 260px;
      color: $gray;
      border-radius: 60px;
      box-shadow: 0px 0px 6px 4px gray;
      display: flex;
      align-items: center;
      transition: 0.4s;
      &:hover {
        background-color: rgb(202, 236, 255);
        transform: scale(1.2);
        transform-origin: bottom;
      }
      img {
        margin: 0px 0px 0px 2px;
        max-width: 100px;
        border-radius: 50%;
        box-shadow: 0px 0px 4px 1px gray;
        hr {
          width: 50%;
          border-top-width: 2px;
          margin: 3px 0px;
        }
      }
      section {
        margin: 5px;
        header {
          font-size: smaller;
        }
        svg {
          display: inline;
          font-size: 40px;
          transition: 0.3s;
          margin: 2px;
          &:hover {
            color: $base-color;
            transform: scale(1.2);
          }
        }
      }
    }

    .about-1, .about-3, .about-5{ 
      margin: 0px 0px 0px 0px;
      align-self: flex-end;
    }
    .about-2, .about-4 { 
      margin: 0px 0px 0px 0px;
    }
  }
}

#code1 {
  background-color: black;
  color: red;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.demo {
  font-family: "Fira Code", monospace;
  grid-area: left-2; 
}


