$base-color: #295bff;

$white: mix(white, $base-color, 95%);
$black: mix(black, $base-color, 90%);
$gray: mix(#636363, $base-color, 80%);


#about {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-description {
    // box-shadow: 6px 5px 2px 1px rgb(0, 0, 0);
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    width: fit-content;
    color: $gray;
    font-size: 18px;
    margin: 30px;
    img {
      display: block;
      margin: auto;
    }
    section {
      margin: 0px 0px 50px 0px;
      display: flex;
      &:hover header::after {
        transform : scaleX(1);
        transform-origin: bottom left;
     }
     &:hover header {
      transform: scale(1.05);
     }
      header {
        position : relative;
        display : inline-block;
        font-size: xx-large;
        transition : transform 0.25s linear;
        &:after {
          content : "";
          position : absolute;
          width : 100%;
          height : 2px;
          background-color: rgb(0, 187, 255);
          bottom: 0;
          left: 0;
          transition : transform 0.25s linear;
          transform : scaleX(0);
          transform-origin: bottom right;
        }   
      }
      hr {
        width: 90%;
        border-top-width: 2px;
        margin: 3px 0px;
      }
      p {
        margin: 15px 0px;
      }
      img {
        width: 50vw;
      }
    }
  }
  header {
    font-size: 4vw;
  }
  hr {
    width: 95%;
    border-top-width: 2px;
    margin: 0px 0px 30px 0px;
  }
  .bro-container {
    width: 100%;
    display: flex; 
    justify-content: space-around;
    height: 160px;
    align-content: center; 
    
    .about-box {
      background-color: $white;
      height: 110px;
      padding: 5px;
      width: 18vw;
      min-width: 208px;
      max-width: 260px;
      color: $gray;
      border-radius: 60px;
      box-shadow: 0px 0px 6px 4px gray;
      display: flex;
      align-items: center;
      transition: 0.4s;
      &:hover {
        // background-color: rgb(202, 236, 255);
        transform: scale(1.2);
        transform-origin: bottom;
      }
      img {
        margin: 0px 0px 0px 2px;
        max-width: 100px;
        border-radius: 50%;
        box-shadow: 0px 0px 4px 1px gray;
        hr {
          width: 50%;
          border-top-width: 2px;
          margin: 3px 0px;
        }
      }
      section {
        margin: 5px;
        header {
          font-size: smaller;
        }
        svg {
          display: inline;
          font-size: 40px;
          transition: 0.3s;
          margin: 2px;
          &:hover {
            color: $base-color;
            transform: scale(1.2);
          }
        }
      }
    }

    .about-1, .about-3, .about-5{ 
      margin: 0px 0px 0px 0px;
      align-self: flex-end;
    }
    .about-2, .about-4 { 
      margin: 0px 0px 0px 0px;
    }
  }
}