@import 'variables';

.table-node {
  height: auto;
  border: 1px solid black;
  padding: 5px;
  // border-radius: 5px;
  background: rgb(240, 240, 240);
  
  label {
    display: block;
    color: rgb(71, 71, 71);
    font-size: 12px;
    border: 1px solid black;
    padding: 3px;
  }
}