@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100,200&display=swap');
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);
@import url(https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css);

* {
  padding: 0px;
  margin: 0px;
}

$base-color: #295bff;

$white: mix(white, $base-color, 95%);
$black: mix(black, $base-color, 90%);
$gray: mix(#636363, $base-color, 80%);
$base-light-10: lighten($base-color, 10%);
$base-light-20: lighten($base-color, 20%);
$base-dark-30: darken($base-color, 30%);
$base-dark-20: darken($base-color, 20%);
$green-gradient: linear-gradient(
  315deg,
  hsla(164, 38%, 18%, 1) 0%,
  hsla(158, 77%, 77%, 1) 100%
);

.login-modal-container {
  position: absolute;
  width: 300px;
  height: 375px;
  border: 3px solid $base-light-20;
  background-color: #1b2240;
  letter-spacing: 0.5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 10;
  #close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: black;
    cursor: pointer;
  }
  #close-icon:hover {
    color: $base-color;
  }
  #input-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: red;
    .login-input {
      padding: 10px;
      margin: 5px;
    }
    button {
      padding: 5px;
      width: 150px;
      cursor: pointer;
      border-radius: 5px;
      background-color: $base-light-20;
      border-color: $base-light-20;
      border-radius: 5px;
      color: black;
      margin: 10px;
      font-size: medium;
      font-weight: 600;
    }
    button:hover {
      background-color: $base-color;
      border-color: $base-color;
      color: white;
    }
    a {
      text-decoration: none;
      color: white;
      margin: 10px;
      font-size: medium;
    }

    .login-error-message {
      color: red;
    }
  }
  #login-logo {
    width: 300px;
  }
}