@import 'variables';

.login-modal-container {
  position: absolute;
  width: 300px;
  height: 375px;
  border: 3px solid $base-light-20;
  background-color: #1b2240;
  letter-spacing: 0.5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  z-index: 1000;
  #close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    color: black;
    cursor: pointer;
  }
  #close-icon:hover {
    color: $base-color;
  }
  #input-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    .login-input {
      padding: 10px;
      margin: 5px;
    }
    button {
      padding: 5px;
      width: 150px;
      cursor: pointer;
      border-radius: 5px;
      background-color: $base-light-20;
      border-color: $base-light-20;
      border-radius: 5px;
      color: black;
      margin: 10px;
      font-size: medium;
      font-weight: 600;
      &:hover {
        background-color: $base-color;
        border-color: $base-color;
        color: white;
      }
    }
    a {
      text-decoration: none;
      color: white;
      margin: 5px;
      font-size: medium;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid white;
      &:hover {
        background-color: rgb(142, 142, 220);
        color: black;
        
      }
    }

    .login-error-message {
      color: red;
    }
  }
  #login-logo {
    width: 300px;
  }
}

#username {
  color: $white;
  font-size: larger;
  font-weight: 200;
}

.logout {
  width: 250px;
  height: 60px;
  font-size: x-large !important;
}